<table class="site-header"  role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td style="text-align: left; padding-right: 30px; width: 25%">
            <img style="vertical-align: unset;position: relative;top: -9px;" src="{{"images/static-images/logo.svg" | relURL}}">
        </td>
        <td style="width: 70%; border-bottom: 7px solid #FCD800;" >
            <table style="text-align: left;">
                <tr>
                    <td style="border-right: 3px solid #2d2c2c; /*width: 433px;*/width: 56%;">
                        <span class="td-title">REPORT DATE & TIME</span> : <span class="td-desc">{{ .dateTime }}</span>
                    </td>
                    <td style="text-align: right; padding-left: 45px;">
                        <span class="td-title">CONTROL NUMBER</span> : <span class="td-desc">{{ .controlNo }}</span>
                    </td>
                </tr>
            </table>
        </td>
        <td style="text-align: right; padding-left: 30px; width: 11%;">
            <img style="vertical-align: unset;" src="{{"images/static-images/satsure_logo.svg" | relURL}}">
        </td>
    </tr>
</table>