<table class="report-table bordered-table report-table-summary padding-0 {{if eq .footNote true}}mb-15{{end}}">
    <colgroup>
        <col style="width: 150px">
        <col style="width: 50px;">
        <col style="width: 133px;">
        <col style="width: 50px;">
        <col style="width: 133px;">
        <col style="width: 133px;">
        <col style="width: 50px;">
        <col style="width: 133px;">
        <col style="width: 133px;">
        <col style="width: 53px;">
        <col>
        <col>
        <col>
        <col style="width:64px">
        <col style="width: 50px;">
        <col style="width: 76px;">
        <col style="width: 50px">
    </colgroup>
  <thead>
    <tr>
      <th rowspan="4" style="vertical-align: top;">SEGMENT</th>
      <th colspan="8" rowspan="2" style="vertical-align: top;">ACCOUNTS & AMOUNTs</th>
      <th colspan="5" style="vertical-align: top;">DELINQUENCY</th>
      <th colspan="2" rowspan="2" style="vertical-align: top;padding-left: 7px;padding-right: 7px;">DEROGATORY</th>
      <th rowspan="4" class="br-none vertical-heading-parent" style="vertical-align: bottom;"><span class="vertical-heading">ENQUIRIES <span class="grey5 fw-book">(#)</span><br><span class=" font-14-regular grey5">(In past 30 days)</span></span></th>
    </tr>
    <tr>
      <th></th>
      <th colspan="3" class="font-14-regular grey5">COUNT OF BREACH <br />INSTANCES (12 MONTHS)</th>
      <th></th>
    </tr>
    <tr>
      <th colspan="2" style="vertical-align: bottom; height: 105px;">TOTAL HCA/CL</th>
      <th colspan="2" style="vertical-align: bottom;">ACTIVE HCA/CL</th>
      <th style="vertical-align: bottom;">BALANCE</th>
      <th colspan="2" style="vertical-align: bottom;">OVERDUE</th>
      <th rowspan="2" style="vertical-align: bottom;">EXCESS<br />PAYMENT<br /><span style="display: block;margin-top: 14px;" class="grey5 fw-regular">(₹)</span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">MAX OF<br />RECENT DPD</span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">1+ DPD</span><span class="dpd-tag yellow"></span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">30+ DPD</span><span class="dpd-tag orange"></span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">90+ DPD</span><span class="dpd-tag red"></span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">MONTHS<br />SINCE LAST<br />DELINQUENCY</span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">DEROGATORY</span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">WORST<br />RATING</span></th>
    </tr>
    <tr>
      <th><span class="grey5 fw-regular">(#)</span></th>
      <th><span class="grey5 fw-regular">(₹)</span></th>
      <th><span class="grey5 fw-regular">(#)</span></th>
      <th><span class="grey5 fw-regular">(₹)</span></th>
      <th><span class="grey5 fw-regular">(₹)</span></th>
      <th><span class="grey5 fw-regular">(#)</span></th>
      <th><span class="grey5 fw-regular">(₹)</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-heading">CREDIT CARD</td>
      <td>3</td>
      <td>40,45,88,999</td>
      <td>5</td>
      <td>40,45,88,999</td>
      <td>1,00,40,000</td>
      <td>1</td>
      <td>1,00,40,000</td>
      <td>50,00,000</td>
      <td>120</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>15</td>
      <td>Y</td>
      <td>150</td>
      <td>5</td>
    </tr>
    <tr>
      <td class="table-heading">UNSECURED</td>
      <td>3</td>
      <td>40,45,88,999</td>
      <td>5</td>
      <td>40,45,88,999</td>
      <td>1,00,40,000</td>
      <td>-</td>
      <td>1,00,40,000</td>
      <td>50,00,000</td>
      <td>-</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>15</td>
      <td>Y</td>
      <td>150</td>
      <td>-</td>
    </tr>
    <tr>
        <td class="table-heading">BUSINESS</td>
        <td>3</td>
        <td>40,45,88,999</td>
        <td>5</td>
        <td>40,45,88,999</td>
        <td>1,00,40,000</td>
        <td>-</td>
        <td>1,00,40,000</td>
        <td>50,00,000</td>
        <td>6</td>
        <td>-</td>
        <td>4</td>
        <td>-</td>
        <td>15</td>
        <td>Y</td>
        <td>150</td>
        <td>2</td>
    </tr>
    <tr>
        <td class="table-heading">SECURED</td>
        <td>3</td>
        <td>40,45,88,999</td>
        <td>5</td>
        <td>40,45,88,999</td>
        <td>1,00,40,000</td>
        <td>4</td>
        <td>1,00,40,000</td>
        <td>50,00,000</td>
        <td>268</td>
        <td>2</td>
        <td>-</td>
        <td>-</td>
        <td>15</td>
        <td>Y</td>
        <td>150</td>
        <td>7</td>
    </tr>
    <tr class="combined-row">
        <td class="table-heading italic-grey">- MORTGAGE</td>
        <td>3</td>
        <td>40,45,88,999</td>
        <td>5</td>
        <td>40,45,88,999</td>
        <td>1,00,40,000</td>
        <td>-</td>
        <td>1,00,40,000</td>
        <td>50,00,000</td>
        <td>-</td>
        <td>-</td>
        <td>5</td>
        <td>6</td>
        <td>15</td>
        <td>Y</td>
        <td>150</td>
        <td>-</td>
    </tr>
    <tr class="combined-row">
        <td class="table-heading italic-grey">- GOLD</td>
        <td>3</td>
        <td>40,45,88,999</td>
        <td>5</td>
        <td>40,45,88,999</td>
        <td>1,00,40,000</td>
        <td>-</td>
        <td>1,00,40,000</td>
        <td>50,00,000</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>6</td>
        <td>15</td>
        <td>Y</td>
        <td>150</td>
        <td>6</td>
    </tr>
    <tr>
        <td class="table-heading">AGRI</td>
        <td>3</td>
        <td>40,45,88,999</td>
        <td>5</td>
        <td>40,45,88,999</td>
        <td>1,00,40,000</td>
        <td>-</td>
        <td>1,00,40,000</td>
        <td>50,00,000</td>
        <td>-</td>
        <td>-</td>
        <td>3</td>
        <td>-</td>
        <td>15</td>
        <td>Y</td>
        <td>150</td>
        <td>2</td>
    </tr>
    <tr>
        <td class="table-heading">MFI</td>
        <td>3</td>
        <td>40,45,88,999</td>
        <td>5</td>
        <td>40,45,88,999</td>
        <td>1,00,40,000</td>
        <td>-</td>
        <td>1,00,40,000</td>
        <td>50,00,000</td>
        <td>2</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>15</td>
        <td>Y</td>
        <td>150</td>
        <td>10</td>
    </tr>
    <tr>
      <td class="table-heading">TOTAL</td>
      <td>3</td>
      <td>40,45,88,999</td>
      <td>5</td>
      <td>40,45,88,999</td>
      <td>1,00,40,000</td>
      <td>-</td>
      <td>1,00,40,000</td>
      <td>50,00,000</td>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>-</td>
      <td>15</td>
      <td>Y</td>
      <td>150</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
