
{{$footNote:= .footNote}}

{{if .accountData}}
    {{range .accountData}}
        <table class="report-table bordered-table report-account-table padding-0 {{if eq $footNote true}}mb-15{{end}} {{if .mainTableClasses}}{{.mainTableClasses}}{{end}}">
            <tbody>
                <tr class="account-top-head" >
                    <td style="padding:0px;">
                        <table>
                            <tr>
                                <td class="font-20-bold account-table-title">{{.account_no}}. ACCOUNT</td>
                                <td width="70%" class="dates">
                                    <span class="title-blue">DATE OPENED</span><span class="colon">:</span>{{.DATE_OPENED}}
                                    <span class="vertical-separator"><span></span></span>
                                    <span class="title-blue">DATE CLOSED</span><span class="colon">:</span>{{.date_closed}}
                                    <span class="vertical-separator"><span></span></span>
                                    <span class="title-blue">DATE REPORTED & CERTIFIED</span><span class="colon">:</span>{{.DATE_REPORTED_and_CERTIFIED}}
                                </td>
                                <td style="text-align:right;" class="status-text">{{if .active}}active{{else}}Inactive{{end}}</td>
                                <td width="53" style="text-align:right;" class="status"><img src="{{if .active}}{{ "images/static-images/active.png" | relURL }}{{else}}{{ "images/static-images/inactive.png" | relURL }}{{end}}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {{if .account_info}}
                    <tr class="account-info">
                        <td>
                            <table>
                                <colgroup>
                                    {{range .colgroup}}
                                        <col style="width:{{.}}">
                                    {{end}}
                                </colgroup>
                                <thead>
                                    {{range .account_info}}
                                        <th>{{.heading}}</th>
                                    {{end}}
                                </thead>
                                <tbody>
                                    <tr>
                                        {{range .account_info}}
                                            <td class="inner-table">
                                                <table>
                                                    {{if .colgroup}}
                                                        {{range .colgroup}}
                                                            <col style="width:{{.}};">
                                                        {{end}}
                                                    {{end}}
                                                    <tbody>
                                                        {{range .row}}
                                                            <tr>
                                                                {{range .td}}
                                                                    <td {{if .colspan}} colspan="{{.colspan}}" {{end}}>
                                                                        {{if .heading.title}}
                                                                            <span class="title-blue {{.heading.classes}}">{{.heading.title}}</span>
                                                                        {{end}}
                                                                        {{if .content.title}}
                                                                            <span class="{{.content.classes}}">{{.content.title}}</span>
                                                                        {{end}}
                                                                        {{if .content.late_payments}}
                                                                            <table class="payment-status">
                                                                                {{if .colgroup}}
                                                                                    {{range .colgroup}}
                                                                                        <col style="width:{{.}};">
                                                                                    {{end}}
                                                                                {{end}}
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td rowspan="2">
                                                                                            {{range .content.late_payments}}
                                                                                                <div class="status-box {{.status}}"><span>{{.bucket}}</span><span>{{.instance}}</span></div>
                                                                                            {{end}}
                                                                                        </td>
                                                                                        <td class="grey5 pb-7">DPD BUCKETS</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="grey5"># OF BREACH INSTANCES (MONTH)</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        {{end}}
                                                                    </td>
                                                                {{end}}
                                                            </tr>
                                                        {{end}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        {{end}}
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{end}}
                {{if .account_days}}
                    <tr class="account-days">
                        <td>
                            <table>
                                <thead>
                                    <th>DAYS PAST DUE/ASSET CLASSIFICATION</th>
                                    <th width="70%" class="dates">
                                        <span class="title-blue">PAYMENT START DATE</span><span class="colon">:</span>{{.payment_start_date}}
                                        <span class="vertical-separator"><span></span></span>
                                        <span class="title-blue">PAYMENT END DATE</span><span class="colon">:</span>{{.payment_end_date}}
                                        <span class="vertical-separator"><span></span></span>
                                        <span class="title-blue">LAST PAYMENT DATE</span><span class="colon">:</span>{{.late_payment_date}}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <table  class="horizontal-border-table">
                                                <tbody>
                                                    <tr class="title-blue">
                                                        <td>YEAR</td>
                                                        <td>JAN</td>
                                                        <td>FEB</td>
                                                        <td>MAR</td>
                                                        <td>APR</td>
                                                        <td>MAY</td>
                                                        <td>JUN</td>
                                                        <td>JUL</td>
                                                        <td>AUG</td>
                                                        <td>SEP</td>
                                                        <td>OCT</td>
                                                        <td>NOV</td>
                                                        <td>DEC</td>
                                                    </tr>
                                                    {{range .account_days}}
                                                        <tr>
                                                            {{range .td}}
                                                                <td class=" {{if .classes}}{{.classes}}{{end}}">{{.record}}</td>
                                                            {{end}}
                                                        </tr>
                                                    {{end}}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{end}}
                {{if .account_footer}}
                    {{range .account_footer}}
                    <tr class="account-footer">
                        <td>
                            <table>
                                {{if .colgroup}}
                                    <colgroup>
                                        {{range .colgroup}}
                                            <col style="width:{{.}};">
                                        {{end}}
                                    </colgroup>
                                {{end}}
                                {{if .headings}}
                                    <thead>
                                        <tr>
                                            {{range .headings}}
                                                <th>{{.title}}</th>
                                            {{end}}
                                        </tr>
                                    </thead>
                                {{end}}
                                {{if .body}}
                                    <tbody>
                                        <tr>
                                            {{range .body}}
                                                <td>{{.content}}</td>
                                            {{end}}
                                        </tr>
                                    </tbody>
                                {{end}}
                            </table>
                        </td>
                    </tr>
                    {{end}}
                {{end}}
            </tbody>
        </table>
    {{end}}
{{end}}