
{{$footNote:= .footNote}}
<table class="report-table bordered-table report-account-table padding-0 {{if eq $footNote true}}mb-15{{end}} {{if .mainTableClasses}}{{.mainTableClasses}}{{end}}">
    <tbody>
        <tr class="account-top-head" >
            <td style="padding:0px;">
                <table>
                    <tr>
                        <td class="font-20-bold account-table-title">1. ACCOUNT</td>
                        <td width="70%" class="dates">
                            <span class="title-blue">DATE OPENED</span><span class="colon">:</span>22/07/2018
                            <span class="vertical-separator"><span></span></span>
                            <span class="title-blue">DATE CLOSED</span><span class="colon">:</span>-
                            <span class="vertical-separator"><span></span></span>
                            <span class="title-blue">DATE REPORTED & CERTIFIED</span><span class="colon">:</span>30/11/2021
                        </td>
                        <td style="text-align:right;" class="status-text">active</td>
                        <td width="53" style="text-align:right;" class="status"><img width="53" src="{{ "images/static-images/active.png" | relURL }}"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="account-info">
            <td>
                <table>
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:40%">
                    </colgroup>
                    <thead>
                        <th>ACCOUNT INFORMATION</th>
                        <th>AMOUNTS</th>
                        <th>STATUS</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="inner-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="title-blue">ACCOUNT TYPE</span>
                                                <span class="font-20-bold">PERSONAL LOAN</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="title-blue">ACCOUNT NUMBER</span>
                                                <span>Not Disclosed</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="title-blue">MEMBER NAME</span>
                                                <span>Not Disclosed</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="title-blue">OWNERSHIP</span>
                                                <span>Individual</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="inner-table">
                                <table>
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col style="width:28%">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="title-blue">SANCTIONED</span>
                                                <span>₹ 1,00,000</span>
                                            </td>
                                            <td>
                                                <span class="title-blue">Payment FreqUENCY</span>
                                                <span>Null</span>
                                            </td>
                                            <td>
                                                <span class="title-blue">INTEREST RATE</span>
                                                <span>12%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="title-blue">CURRENT BALANCE</span>
                                                <span>₹ 0</span>
                                            </td>
                                            <td>
                                                <span class="title-blue">Repayment tenure</span>
                                                <span>60 M</span>
                                            </td>
                                            <td>
                                                <span class="title-blue">EMI</span>
                                                <span>₹ 2224</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="title-blue">OVERDUE</span>
                                                <span>₹ 0</span>
                                            </td>
                                            <td>
                                                <span class="title-blue">COLLATERAL VALUE</span>
                                                <span>-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="title-blue">ACTUAL PAYMENT</span>
                                                <span>-</span>
                                            </td>
                                            <td>
                                                <span class="title-blue">COLLATERAL TYPE</span>
                                                <span>-</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="inner-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <span class="title-blue">LATE PAYMENTS (36 months)</span>
                                                <table class="payment-status">
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2">
                                                                <div class="status-box blue"><span>1+</span><span>4</span></div>
                                                                <div class="status-box yellow"><span>30+</span><span>1</span></div>
                                                                <div class="status-box orange"><span>60+</span><span>0</span></div>
                                                                <div class="status-box red"><span>90+</span><span>0</span></div>
                                                            </td>
                                                            <td class="grey5 pb-7">DPD BUCKETS</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="grey5"># OF BREACH INSTANCES (MONTH)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="title-blue">credit facility status</span>
                                                <span>Written-Off</span>
                                            </td>
                                            <td>
                                                <span class="title-blue">Written off (total AMOUNT)</span>
                                                <span>₹ 4,500</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="title-blue">SUIT FILED/WILLFUL DEFAULT</span>
                                                <span>-</span>
                                            </td>
                                            <td>
                                                <span class="title-blue">Written off (principle AMOUNT)</span>
                                                <span>-</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
    
                                            </td>
                                            <td>
                                                <span class="title-blue">SETTLEMENT AMOUNT</span>
                                                <span>-</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="account-days">
            <td>
                <table>
                    <thead>
                        <th>DAYS PAST DUE/ASSET CLASSIFICATION</th>
                        <th width="70%" class="dates">
                            <span class="title-blue">DATE OPENED</span><span class="colon">:</span>22/07/2018
                            <span class="vertical-separator"><span></span></span>
                            <span class="title-blue">DATE CLOSED</span><span class="colon">:</span>-
                            <span class="vertical-separator"><span></span></span>
                            <span class="title-blue">DATE REPORTED & CERTIFIED</span><span class="colon">:</span>30/11/2021
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <table  class="horizontal-border-table">
                                    <tbody>
                                        <tr class="title-blue">
                                            <td>YEAR</td>
                                            <td>JAN</td>
                                            <td>FEB</td>
                                            <td>MAR</td>
                                            <td>APR</td>
                                            <td>MAY</td>
                                            <td>JUN</td>
                                            <td>JUL</td>
                                            <td>AUG</td>
                                            <td>SEP</td>
                                            <td>OCT</td>
                                            <td>NOV</td>
                                            <td>DEC</td>
                                        </tr>
                                        <tr>
                                            <td class="title-blue">2018</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td class="title-blue">2019</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td class="title-blue">2020</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>27</td>
                                            <td>25</td>
                                            <td>30</td>
                                            <td>56</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td class="title-blue">2021</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="account-footer">
            <td>
                <table>
                    <colgroup>
                        <col style="width:25%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>INFORMATION UNDER DISPUTE</th>
                            <th>DISPUTE DATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ownership Indicator in dispute </td>
                            <td>26/02/2021</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>