<table class="report-table bordered-table report-table-summary padding-0 {{if eq .footNote true}}mb-15{{end}}">
    <colgroup>
      <col style="width: 78px;">
      <col style="width: 150px;">
      <col style="width: 200px;">
      <col style="width: 105px;">
      <col style="width: 105px;">
      <col style="width: 130px;">
      <col style="width: 115px;">
      <col style="width: 115px;">
      <col>
      <col>
      <col>
      <col>
      <col>
      <col style="width: 96px;">
      <col style="width: 101px;">
    </colgroup>

  <head>
    <tr>
      <th rowspan="4" class="valign-top">SR NO.</th>
      <th rowspan="4" class="valign-top">ACCOUNT TYPE</th>
      <th rowspan="4" class="valign-top">ACCOUNT NO.</th>
      <th rowspan="4" class="valign-top">OPENING<br/>DATE</th>
      <th rowspan="4" class="valign-top">CLOSING<br/>DATE</th>
      <th rowspan="3" class="valign-top">HCA/<br/>CREDIT LIMIT</th>
      <th rowspan="3" class="valign-top">BALANCE</th>
      <th rowspan="3" class="valign-top">OVERDUE</th>
      <th colspan="5" class="valign-top">DELINQUENCY<br/><span class="grey5 font-14-regular" style="display: block;margin-top: 38px;">COUNT OF<br/>BREACH INSTANCES</span></th>
      <th rowspan="4" class="valign-top">CREDIT<br>FACILITY<br>STATUS</th>
      <th rowspan="3" class="valign-top br-none">WRITTEn OFF/<br>SETTLED</th>
    </tr>
    <tr>
      <th rowspan="3" class="vertical-heading-parent"><span class="vertical-heading">RECENT DPD</span></th>
      <th colspan="3" class="grey5 font-14-regular vertical-heading-parent"><span class="vertical-heading">12 MTHS</span></th>
      <th class="grey5 font-14-regular vertical-heading-parent"><span class="vertical-heading">36 MTHS</span></th>
    </tr>
    <tr>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">1+ DPD</span><span class="dpd-tag yellow"></span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">30+ DPD</span><span class="dpd-tag orange"></span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">90+ DPD</span><span class="dpd-tag red"></span></th>
      <th rowspan="2" class="vertical-heading-parent"><span class="vertical-heading">WORST</span></th>
    </tr>
    <tr class="combined-row">
      <th class="valign-bottom"><span class="grey5 font-14-regular">(₹)</span></th>
      <th class="valign-bottom"><span class="grey5 font-14-regular">(₹)</span></th>
      <th class="valign-bottom"><span class="grey5 font-14-regular">(₹)</span></th>
      <th class="valign-bottom br-none"><span class="grey5 font-14-regular">(₹)</span></th>
    </tr>
  </head>
  <tbody>
    <tr>
      <td>1</td>
      <td>Personal Loan</td>
      <td class="status-tag">NOT DISCLOSED <span class="tag active">ACTIVE</span></td>
      <td>22/07/18</td>
      <td class="grey6">-</td>
      <td class="text-right">1,00,000</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>Written-<br/>Off</td>
      <td class="text-right">4.500</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Credit Card</td>
      <td class="status-tag">NOT DISCLOSED <span class="tag active">ACTIVE</span></td>
      <td>05/06/18</td>
      <td class="grey6">-</td>
      <td class="text-right">42,000</td>
      <td class="text-right">2,596</td>
      <td class="text-right">250</td>
      <td>6</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>6</td>
      <td class="grey6">-</td>
      <td class="text-right">4.500</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Credit Card</td>
      <td class="status-tag">NOT DISCLOSED <span class="tag active">ACTIVE</span></td>
      <td>23/07/20</td>
      <td class="grey6">-</td>
      <td class="text-right">37,370</td>
      <td class="text-right">23,669</td>
      <td class="text-right">11,816</td>
      <td>6</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>6</td>
      <td class="grey6">-</td>
      <td class="text-right grey6">-</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Personal Loan</td>
      <td class="status-tag">NOT DISCLOSED <span class="tag active">ACTIVE</span></td>
      <td>22/07/17</td>
      <td class="grey6">-</td>
      <td class="text-right">32,000</td>
      <td class="text-right">5,000</td>
      <td class="text-right">4,000</td>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td class="grey6">-</td>
      <td class="text-right grey6">-</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Business Loan</td>
      <td class="status-tag">NOT DISCLOSED <span class="tag">INACTIVE</span></td>
      <td>07/03/20</td>
      <td>20/04/21</td>
      <td class="text-right">2,00,000</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td>6</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>6</td>
      <td class="grey6">-</td>
      <td class="text-right grey6">-</td>
    </tr>
    <tr>
      <td>6</td>
      <td class="">Auto Loan<br/>(Personal)</td>
      <td class="status-tag">NOT DISCLOSED <span class="tag">INACTIVE</span></td>
      <td>05/09/22</td>
      <td>05/09/22</td>
      <td class="text-right">89,09,990</td>
      <td class="text-right">67,890</td>
      <td class="text-right">6,990</td>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td class="grey6">-</td>
      <td class="text-right grey6">-</td>
    </tr>
    <tr>
      <td>7</td>
      <td>JLG Group</td>
      <td class="status-tag">123456<span class="tag active">ACTIVE</span></td>
      <td>06/04/15</td>
      <td class="grey6">-</td>
      <td class="text-right">95,632</td>
      <td class="text-right">39,569</td>
      <td class="text-right">506</td>
      <td>11</td>
      <td>5</td>
      <td>15</td>
      <td>11</td>
      <td>15</td>
      <td>Written-<br/>Off</td>
      <td class="text-right">7,678</td>
    </tr>
    <tr>
      <td>8</td>
      <td class="">JLG Individual</td>
      <td class="status-tag">123456<span class="tag active">ACTIVE</span></td>
      <td>01/04/15</td>
      <td class="grey6">-</td>
      <td class="text-right">70,867</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td>11</td>
      <td>5</td>
      <td>15</td>
      <td>11</td>
      <td>15</td>
      <td>Closed</td>
      <td class="text-right grey6">-</td>
    </tr>
    <tr>
      <td>9</td>
      <td>JLG Individual</td>
      <td class="status-tag">NOT DISCLOSED<span class="tag">INACTIVE</span></td>
      <td>01/05/20</td>
      <td>01/03/22</td>
      <td class="text-right">70,867</td>
      <td class="text-right">48,088</td>
      <td class="text-right">615</td>
      <td>11</td>
      <td>18</td>
      <td>15</td>
      <td>11</td>
      <td>18</td>
      <td>Written-<br/>Off</td>
      <td class="text-right">7,678</td>
    </tr>
    <tr>
      <td>10</td>
      <td>JLG Group</td>
      <td class="status-tag">BI10322<span class="tag">INACTIVE</span></td>
      <td>01/05/20</td>
      <td>01/03/22</td>
      <td class="text-right">95,632</td>
      <td class="text-right">0</td>
      <td class="text-right">0</td>
      <td>11</td>
      <td>18</td>
      <td>15</td>
      <td>11</td>
      <td>18</td>
      <td>Closed</td>
      <td class="text-right grey6">-</td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">9,654,358</td>
      <td class="text-right">186,812</td>
      <td class="text-right">24,177</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">19,856</td>
    </tr>
  </tbody>
</table>
