{{ define "main" }}

<table class="no-break">
    <tr>
        <td>

            {{ partial "ccir/report-title" (dict "report_title" "COMPREHENSIVE CREDIT INFORMATION REPORT") }}

            {{partial "ccir/report-heading" (dict "heading" "MOHANA PARAB")}}

            {{ partial "ccir/horizontal-separator" }}

        </td>
        </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "ENQUIRY INPUT INFORMATION" "refNo" "5653AFG34") }}
            {{ partial "ccir/table-style1" (dict "tableData" .Site.Data.ccir.enquiry_input_info ) }}
        </td>
    </tr>
</table>

{{ partial "ccir/request-error" (dict "message" "YOUR REQUEST HAS BEEN REJECTED BY THE SERVER. PLEASE MAKE THE APPROPRIATE CHANGE AND RE-SUBMIT THE REQUEST OR CONTACT THE SYSTEM ADMINISTRATOR.") }}

{{ partial "table-title" (dict "tableTitle" "PRESENCE IN" ) }}
{{ partial "ccir/checkboxes" (dict "checkboxesData" .Site.Data.ccir.checkboxes) }}

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "SCORE AND ALGORITHM") }}
            {{ partial "halfcircle-score-graph" (dict "scoreGraphs" .Site.Data.ccir.score_graphs "footNote" true ) }}
            {{ partial "ccir/foot-note" (dict "note" "Place for footnote for above section") }}
            {{ partial "spacer" (dict "space" "35") }}
        </td>
    </tr>
</table>

{{ end }}